@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
  background: rgb(255, 255, 255);
  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgb(241, 237, 201) 100%
  ); */
  background-color: #000000ed;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto md:px-16 px-6;
}

/* .btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  letter-spacing: 1.5px;
}
.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
} */

.black_btn {
  @apply rounded-md bg-[#181818] py-1.5 px-5 text-white transition-all hover:bg-[#131313] text-center text-lg font-inter flex items-center justify-center;
  border: 1px solid #fff;
}

.blue_btn {
  @apply rounded-md border border-[#0467fc] bg-[#0467fc] py-1.5 px-5 text-white transition-all hover:bg-[#0484fc] hover:text-[#fff] text-center text-lg font-inter flex items-center justify-center;
}

.yellow_btn {
  @apply rounded-md border border-[#efd81d] bg-[#efd81d] py-1.5 px-5 text-black transition-all hover:bg-[#f9e01c]  text-center text-lg font-inter flex items-center justify-center;
}

.blue_big_btn {
  @apply rounded-md border border-[#0467fc] bg-[#0467fc] py-3 px-8 text-white transition-all hover:bg-[#0484fc] hover:text-[#fff] text-center text-2xl font-inter flex items-center justify-center;
}

.yellow_big_btn {
  @apply rounded-md border border-[#efd81d] bg-[#efd81d] py-3 px-8 text-black transition-all hover:bg-[#f9e01c] text-center text-2xl font-inter flex items-center justify-center;
}



.nav_items {
  @apply text-lg font-normal text-gray-400 hover:text-white;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.head_gradient {
  background-image: linear-gradient(to right, #4dcbe1, #e909f5, #31def9);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.orange_gradient {
  @apply bg-gradient-to-r from-[#efd81d] via-[#fc8c04] to-[#efd81d] bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-[#1defef] via-[#0467fc] to-[#1defef] bg-clip-text text-transparent;
}

.desc {
  @apply mt-8 text-lg text-white sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-2/4 rounded-xl border border-[#fff] bg-[#fff] py-2 font-satoshi pl-4 pr-4 text-lg shadow-lg font-normal focus:border-[#fff] focus:outline-double focus:ring-4 text-black tracking-wider;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-md:hidden font-semibold text-2xl text-white  tracking-wide pt-3;
  font-family: "Poppins";
}

.dropdown {
  @apply absolute right-0 sm:top-24 top-full mt-3 sm:mr-16 mr-0 p-5 rounded-lg bg-white sm:min-w-[210px] min-w-[250px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-lg text-gray-800 hover:text-gray-700 font-medium;
  font-family: "Poppins";
}

.slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

.slide-up {
  animation: slideUp 0.3s ease-in-out reverse forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30%);
    opacity: 0;
  }
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.google_btn{
  @apply flex gap-5 text-black hover:bg-[#e5e7eb] font-semibold px-6 py-3 rounded-lg text-xl bg-[#fff] transition-all delay-75 ease-out
} 